{% extends 'include.html' %}

{% block content %}
<style>
    .form-group {
        margin-top: 20px;
    }

    .checkbox-menu li label {
        display: block;
        padding: 3px 10px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        margin: 0;
        transition: background-color .4s ease;
    }

    .checkbox-menu li input {
        margin: 0px 5px;
        top: 2px;
        position: relative;
    }

    .checkbox-menu li label:hover,
    .checkbox-menu li label:focus {
        background-color: #f5f5f5;
    }

    .modified {
        box-shadow: 0 0 5px 2px rgba(13, 110, 253, 1);
        outline: none;
    }
</style>
<script>
    let users = [
        {% for userobj in users %}

    {
        "id": "{{userobj.id}}",
            "username": "{{userobj.username}}",
                "email": "{{userobj.email}}",
                    "numero": "{{userobj.numero}}",
                        "admin": "{{userobj.admin}}",
            },

    {% endfor %}
    ]

    let user = {
        "id": "{{ user_session.id }}",
        "username": "{{ user_session.username }}",
        "admin": "{{ user_session.admin }}"
    }

    let usermaxID = "-1";

    let deleteUser = (userId) => {
        for (let i = 0; i < users.length; i++) {
            if (users[i].id == userId) {
                users = users.splice(i, 1)
            }
        }
        $(("#trUser-" + userId)).hide('fast', function () { $(("#trUser-" + userId)).remove(); });

        $(`<input class="form-check-input" type="checkbox" value="" id="toDelete-${userId}" name="toDelete-${userId}" checked>`).appendTo($("#invisibleUser"));
    }

    let onChange = (event) => {
        const element = event.target;
        element.classList.add('modified');
    }

    window.addEventListener("load", (event) => {

        usermaxID = "-1"
        for (let i = 0; i < users.length; i++) {
            if (parseInt(usermaxID) < parseInt(users[i].id)) {
                usermaxID = users[i].id
            }
        }

        for (let i = 0; i < users.length; i++) {

            let tr = document.createElement("tr");
            tr.id = `trUser-${users[i].id}`

            tr.innerHTML = `

                <td class="align-middle">
                    <input type="text" name="texteUsername-${users[i].id}" class="form-control" placeholder="Username" aria-label="usernameUser" aria-describedby="usernameUser" value="${users[i].username}" onchange="onChange(event)"></td>
                <td class="align-middle"> 
                    <input type="email" name="texteEmail-${users[i].id}" class="form-control" placeholder="Email" aria-label="emailUser" aria-describedby="emailUser" value="${users[i].email}" onchange="onChange(event)"></td>
                <td class="align-middle"> 
                    <input type="tel" pattern="[0-9]+" name="textePhone-${users[i].id}" class="form-control" placeholder="Numéro" aria-label="phoneUser" aria-describedby="phoneUser" value="${users[i].numero}" onchange="onChange(event)"></td>
                <td class="text-center align-middle"><input style="width: 25px; height: 25px;" class="form-check-input" type="checkbox" value=""
                    name="checkAdmin-${users[i].id}" id="checkAdmin-${users[i].id}" ${users[i].admin == 1 ? "checked" : ""} onchange="onChange(event)"></td>
                <td class="text-center align-middle">
                    <button type="button"  onclick="deleteUser('${users[i].id}')" class="btn btn-danger"><span class="bi-trash"></span></button>
                </td>
            `
            document.getElementById("table_users").appendChild(tr);
        }

        $(".checkbox-menu").on("change", "input[type='checkbox']", function () {
            $(this).closest("li").toggleClass("active", this.checked);
        });

        $('.allow-focus').on('click', function (e) { e.stopPropagation(); });

    })


</script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mt-5">
                <div class="card-header">
                    <h2 class="text-center">Gestion des Utilisateurs</h2>
                </div>
                <div class="card-body">
                    <form action="/users/edit" method="POST">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Username</th>
                                    <th class="text-center" scope="col">Email</th>
                                    <th class="text-center" scope="col">Numéro</th>
                                    <th class="text-center" scope="col">Admin</th>
                                </tr>
                            </thead>
                            <tbody id="table_users">
                            </tbody>
                        </table>

                        <div style="display: none;" id="invisibleUser">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg float-end mt-5">Enregistrer les
                            modifications</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}